<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/detail.css" type="text/css" />
</head>

<body>
    <h1>Edit Todo</h1>

    <form method="POST" action="./update">
        <ul>
            <li>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" th:value="${currentTitle}"  maxlength="30"></input>
            </li>
            <li>
                <label for="detail">Detail</label>
                <textarea id="detail" type="text" name="detail" th:text="${currentDetail}"></textarea>
            </li>
            <li><input class="button" type="submit" value="Update" maxlength="30"></input></li>
        </ul>
    </form>
</body>

</html>