<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/select.css" type="text/css" />
</head>

<body>
    <h1>Select Todo</h1>
    <div class="operation-area">
        <button type="button" onclick="location.href='./index'">Back to Index</button>
    </div>
    <form method="POST" action="./delete">
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${todoList}">
                    <!--  ">" ではなく "/>" にしないとエラーになる。原因は不明 -->
                    <td><input type="radio" name = "selectId" th:value = "${result['todoId']}"/></td>
                    <!--tymeleafの記述方法 -->
                    <td class="todo-id" th:text="${result['todoId']}"></td>
                    <td class="title" th:text="${result['title']}"></td>
                    <td class="detail" th:text="${result['detail']}"></td>

                </tr>
            </tbody>
        </table>
        <input class="button" type="submit" value="Delete"></input>
        <input class="button" type="submit" value="edit" formaction= "./edit"></input>
    </form>
</body>

</html>